<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/262b4f6075.js"></script>
    <title>E-commerce website</title>
</head>

<body>

<!-- Container for navbar -->
<div class="container">

    <!-- Navbar -->
    <div class="navbar">
        <!-- Logo -->
        <div class="logo">
            <a href="index.html">
                <img th:src="@{/images/front-pictures/7a7a2840-c407-43a7-b86c-36785ac2955d_200x200.png}" alt="Logo">
            </a>
        </div>
        <!-- Nav links -->
        <nav>
            <ul id="MenuItems">
                <li>
                    <a href="account.html">Login</a>
                </li>
                <li>
                    <a href="">Categories</a>
                </li>
                <li>
                    <a href="cart.html">
                        <img class="nav-icon" th:src="@{/images/front-pictures/shopping-cart-of-checkered-design.png}">
                    </a>
                </li>
                <li>
                    <a href="favorites.html">
                        <img class="nav-icon" th:src="@{/images/front-pictures/heart.png}">
                    </a>
                </li>
            </ul>
        </nav>
        <img class="menu-icon" th:src="@{/images/front-pictures/menu.png}" onclick="menuToggle()">
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-3">
            <h1 class="main-content-title">THE FUTURE IS NEAR</h1>
            <p class="main-content-text">
                G goes Pro. A14 Bionic rockets past every other smartphone chip. The Pro camera system takes
                low-light photography to the next level
            </p>
            <div class="button-container">
                <a href="" class="main-content-button">FIND MORE &#8594;</a>
            </div>
        </div>
        <div class="col-3">
            <img th:src="@{/images/front-pictures/Pngtree iphone xs max gold_3627549.png}" id="iphone">
        </div>
        <div class="col-3 aux-info">
            <h2>64GB for 599$</h2>
            <h2>128GB for 799$</h2>
            <h2>256GB for 899$</h2>
            <h2>512GB for 999$</h2>
        </div>
    </div>
</div>

<!-- Categories part -->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3-2 wrapper">
                <img th:src="@{/images/front-pictures/Pngtree iphone xs max gold_3627549.png}">
                <div class="overlay">
                    <div class="content">
                        <p>Phones</p>
                    </div>
                </div>
            </div>
            <div class="col-3-2 wrapper">
                <img th:src="@{/images/front-pictures/Laptop ultraportabil ASUS ZenBook 14 UM425IA.png}">
                <div class="overlay">
                    <div class="content">
                        <p>Laptops</p>
                    </div>
                </div>
            </div>
            <div class="col-3-2 wrapper">
                <img th:src="@{/images/front-pictures/Apple Watch 3.png}">
                <div class="overlay">
                    <div class="content">
                        <p>Smartwatches</p>
                    </div>
                </div>
            </div>
            <a href="" class="main-content-button">More &#8594;</a>
        </div>
    </div>
</div>

<!-- Featured products -->
<div class="small-container">
    <h2 class="feature-products-title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="product-details.html">
                <img th:src="@{/images/front-pictures/JBL Tune 700BT.png}">
            </a>
            <div class="feature-products-product-name">
                <h4>JBL Tune 700BT</h4>
            </div>
            <div class="feature-products-product-price">
                <p>299$</p>
            </div>
            <div class="feature-products-stock-info">
                <span>IN STOCK</span>
            </div>
            <div class="feature-products-product-icons">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-4">
            <a href="product-details.html">
                <img th:src="@{/images/front-pictures/Laptop ultraportabil ASUS ZenBook 14 UM425IA.png}">
            </a>
            <div class="feature-products-product-name">
                <h4>Asus ZenBook 14 UM425IA</h4>
            </div>
            <div class="feature-products-product-price">
                <p>799$</p>
            </div>
            <div class="feature-products-stock-info">
                <span>IN STOCK</span>
            </div>
            <div class="feature-products-product-icons">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-4">
            <a href="product-details.html">
                <img th:src="@{/images/front-pictures/Huawei P40 Lite Dual Sim.png}">
            </a>
            <div class="feature-products-product-name">
                <h4>Huaweei P40 Lite</h4>
            </div>
            <div class="feature-products-product-price">
                <p>999$</p>
            </div>
            <div class="feature-products-stock-info">
                <span>IN STOCK</span>
            </div>
            <div class="feature-products-product-icons">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-4">
            <a href="product-details.html">
                <img th:src="@{/images/front-pictures/Fitbit Versa2.png}">
            </a>
            <div class="feature-products-product-name">
                <h4>Fitbit Versa 2</h4>
            </div>
            <div class="feature-products-product-price">
                <p>199$</p>
            </div>
            <div class="feature-products-stock-info">
                <span>IN STOCK</span>
            </div>
            <div class="feature-products-product-icons">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>


    </div>
</div>

<!-- Online offer -->
<div class="online-offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img class="online-offer-image"
                     th:src="@{/images/front-pictures/Samsung-Galaxy-S20+-Ultra-on-transparent-background-PNG.png}">
            </div>
            <div class="col-2">
                <p>Exclusively online on Electrix</p>
                <h1>Samsung Galaxy S20+ Ultra</h1>
                <a href="" class="online-offer-button">Buy</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer part -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Stay tuned!</h3>
                <p>Keep in touch for more exclusive online products!</p>
                <form>
                    <input type="text" placeholder="Email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <div class="footer-col-2">
                <h3>This may help you</h3>
                <ul>
                    <li>Hosting</li>
                    <li>Terms and conditions</li>
                    <li>Return policy</li>
                    <li>Got a problem? Contact us</li>
                </ul>
            </div>
            <div class="footer-col-3">
                <h3>Follow us</h3>
                <ul>
                    <a href="">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright &copy; 2020 www.Electrix.com</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";

    function menuToggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "100%";
            MenuItems.style.marginTop = "50px";
        } else {
            MenuItems.style.maxHeight = "0px";
            MenuItems.style.marginTop = "0px;";
        }
    }

</script>
</body>

</html>
